html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 1.3rem;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 1.3rem;
  color: #00cdce;
  letter-spacing: 2px;
}

p {
  line-height: 25px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
}

button {
  font-size: 1.2rem;
  padding: 15px 20px;
  background-color: black;
  color: #00cdce;
  font-weight: 500;
  letter-spacing: 1.5px;
  border: none;
}
/* HEADER */
header {
  background-color: black;
  opacity: 70%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}

header .logo {
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

header .logo span {
  color: #00cdce;
}

nav {
  /* border: 1px solid red; */
}

nav ul {
  display: flex;
  /* border: 1px solid green; */
  list-style: none;
  justify-content: space-around;
}

nav li {
  /* border: 1px solid orange; */
  border-bottom: 1.5px solid white;
  margin: 1rem;
}

nav a {
  color: white;
  display: flex;
  padding: 8px 12px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;

  /* border: 1px solid blue; */
}

/* CAROUSEL */
#carousel {
  background-image: url(../img/b4.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel__item {
  width: 100%;
  /* border: 1px solid yellow; */
  height: 100%;
}

.carousel__item p {
  text-align: center;
}

.carousel__item p:first-of-type {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  /* border: 1px solid orange; */
}

.carousel__item p:last-of-type {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.carousel .owl-theme .owl-dots .owl-dot {
  color: white;
}

/* ABOUT */

#about {
  text-align: center;
  padding: 2.5rem;
}
.about__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem 2rem;
  /* border: 1px solid orange; */
}

.about__icon {
  /* border: 1px solid red; */
  padding: 0.5rem;
}
.about__icon i {
  border: 1px solid black;
  padding: 25px;
  border-radius: 50%;
}

.about__icon p {
  padding-top: 15px;
}

.about__us {
  /* border: 1px solid orange; */
  padding-bottom: 10px;
}

/* STATS */
#stats {
  padding: 2.5rem 5rem;
  background-color: #00cdce;
  text-align: center;
}

#stats h2 {
  padding-bottom: 50px;
}
.stats__countUp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats__countUp .counter {
  color: white;
  font-size: 3rem;
  letter-spacing: 6px;
  padding-bottom: 25px;
}

.stats__countUp p:last-of-type {
  font-weight: 700;
  font-size: 1.2rem;
}

/* BLOG  */
#blog {
  padding: 3rem 0;
}

#blog h2 {
  padding-bottom: 25px;
}

.blog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px 3rem 100px;
}

.blog__item {
  width: 33%;
  margin: 0 15px;
  background-color: #efefef;
  border-top: 5px solid #00cdce;
}

.blog__item img {
  width: 100%;
  display: block;
  padding-bottom: 20px;
}

.blog__item p {
  padding-bottom: 20px;
}

.blog__text {
  padding: 0 15px 15px 15px;
}

.blog__more {
  display: flex;
}

.blog__left,
.blog__right {
  width: 50%;
}

.blog__left img {
  display: block;
  width: 100%;
}

.blog__right {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00cdce;
}

.blog__right p {
  padding-bottom: 25px;
  color: white;
}

/* PORTFOLIO */
#portfolio {
  text-emphasis: center;
  padding: 25px 100px;
}

.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

/* SUBSCRIBE */
#subscribe {
  padding: 2rem 0;
  background-color: hsl(180, 100%, 40%);
  text-align: center;
  display: grid;
  margin-bottom: 30px;
}

.subscribe__content {
  width: 70%;
  margin: 0 auto;
  color: white;
}

.subscribe__content p {
  padding-bottom: 30px;
}

.subscribe__content form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.subscribe__content form input {
  font-size: 1rem;
  font-weight: 600;
  padding: 15px;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s;
  margin-bottom: 20px;
  border: none;
}
.subscribe__content button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 500;
  letter-spacing: 1.5px;
  border: none;
  width: 150px;
}
